@font-face {
    font-family: 'norsebold';
    src: url(assets/Norse-Bold.otf);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;

}

.side-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60vw;
    position: relative;
    background: no-repeat center/cover url(assets/background.avif);
}

.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 15%;
    color: white;
    font-family: norsebold;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 25vh;
    position: absolute;
}

.logo-container img{
    height: 75%;
}

.image-credits{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    bottom: 1%;
}

.image-credits, a{
    color: white;
    text-align: center;
}

.main-content{
    margin: 6rem 2.5rem;
    margin-right: 18rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.main-content > p {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px;
}

.form-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;    
}

.main-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
    max-width: 500px;
    min-width: 350px;
}

.log-in{
    color: #596D48;
    cursor: pointer;
}

.LDI{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
}

.groupform{
    display: flex;
    flex-direction: column;
    font-weight:500;
    
}


button{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin-bottom: 15px;
    border: none;
    background-color: #596D48;
    cursor: pointer;
    border-radius: 8px;
}

input{
    border-color: #E5E7EB;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    height: 25px;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus{
    filter: drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color: #4848ff;
    outline: none;
}

input[type=password]:invalid{
    border-color: red;
    outline: none;
}